<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
	Сотрудник:
	<br />
	<h:form>
		<h:selectOneMenu style="width: 222px; " id="fio"></h:selectOneMenu>
		<br />
	</h:form>Книга:<br /><h:form>
		<h:selectOneMenu style="width: 222px; " id="book"></h:selectOneMenu>
	</h:form><br />Срок:<h:form>
		<h:inputText id="amount"></h:inputText>
	</h:form><br /><h:button id="insert" value="Зарегистрировать"></h:button><br /><br />НА другой половине страницы будет табличка с поиском по выданным книгам

</body>

</html>
