<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body style="height: 476px; "><form >
		ЛИЧНЫЙ КАБИНЕТ <BR />
		Логин:<br />
		<input id = "login"/><br />
		Пароль:<br />
		<input id = "password"/>
	
		<input type="submit" id="enter" value="Войти" />
	</form></body>

</html>
